# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05
        with:
          packages: pandoc
      - uses: oven-sh/setup-bun@b02f8a8a6ed27f2a73a9c46e4e01fb2ac0d22882
      - run: bun i
      - run: bun run build
      - run: bun run man
      - env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: bun publish
      - uses: oven-sh/setup-bun@b02f8a8a6ed27f2a73a9c46e4e01fb2ac0d22882
        with:
          registry-url: https://npm.pkg.github.com
          scope: '@${{ github.repository_owner }}'
      - env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bun publish
name: Package
on:
  release:
    types: [created]
permissions:
  contents: read
  packages: write
